[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ggborderline"]
	path = ggborderline
	url = https://github.com/wurli/ggborderline
[submodule "tweetcheck"]
	path = tweetcheck
	url = https://github.com/wurli/tweetcheck
